/* You can add global styles to this file, and also import other style files */

body {
	background: url(assets/data-background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* Margin bottom by footer height */
	margin-bottom: 70px !important;
}

html {
  position: relative;
  min-height: 100%;
}
